---
---
@import 'main';

img {
        max-width:100%;
        height: auto; 
}

#support {
        color: #aaa;
        padding: 4em 0 0 0;
        text-align: center;
        a {
                color: inherit;
        }
}

#footer {
        #copyright {
                font-size: 0.8rem;
        }
}

.iOSbutton {
        border: none;
}

.iOSbutton img {
        display: inline-block;
        overflow: hidden;
        border: none;
        padding-top: 20px;
        width: 200px;
}

.phone img {
        width: 210px;
}
